.App {
  text-align: center;
}

.ButtonStatistic {
  margin: 5px;
  border-radius: 20px;
  border-width: 3px;
  height: 40px;
  border-color: #00ffff;
  background-color: rgb(247, 247, 247);
  font-weight: bold;
  text-decoration-color: #00ffff;
}
.ButtonVote {
  margin: 5px;
  border-radius: 50%;
  border-width: 3px;
  height: 40px;
  width: 40px;
  border-color: #05f3f385;
  background-color: rgb(247, 247, 247);
  font-weight: bold;
  text-decoration-color: #00ffff;
}
.BodyVoteList {
  background-color: rgba(233, 218, 233, 0.596);
  display: block;
}